.Tabs {
    .Tab3 {
        margin: 20px;
        padding: 30px;
        background-color: $lavendar;


        .content-container {
            display: flex;
            min-height: 800px;

            .card {
                max-width: 40ch;
                margin: 20px;
                padding: 10px;
                background-color: lighten($lavendar, 10%);
                border-radius: 5px;
                box-shadow: 2px 5px 10px $dkviolet;

                a {
                    text-decoration: none;
                    font-size: 2rem;
                    padding: 0.5rem;

                    &:hover {
                        color: $maroon;
                        font-family: $type-bold;
                        background-color: darken($lavendar, 70%);
                        animation: fadeEffect 1s ease; 
                        
                    }
                }

            }
        }
       
        
    }
}