.Tabs {
    .Tab2 {
        margin: 20px;
        padding: 30px;
        background-color: lighten($blue, 30%);
        min-height: 800px;

        .content-container {
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
            -webkit-column-gap: 4em;
            -moz-column-gap: 4em;
            column-gap: 4em;
            li {
                font-size: 1.2em;
            }
      
                .itSkills, .programming, .softSkills {
                    margin-top: 3em;

                    
                }        
            
        }
        
        .starLine {
            display: flex;

            .star {
                width: 1em;
                height: 1em;
            }
        }
        
        

        

    }
}