//colors
$black: #17012d;
$dkblue: #21304a;
$dkviolet: #65435a;
$maroon: #a74477;
$slate: #727988;
$grey: #b8bcc4;
$salmon: #fa8072;
$lavendar: #cec0e8;
$white: #f4f7fa;
$blue: #4ea2b1;

//front
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&family=Reenie+Beanie&display=swap');

$type-regular: "TT2020BaseRegular";
$type-bold: "TT2020StyleBRegular";
$type-light: "TT2020D";
$sans: "Raleway";
$hand: "Reenie Beanie";